<style>
    .request-btn {
        float: right;
    }

    #svg-wrapper {
        display: block;
        margin: auto;
        width: 100%;
        height: 35em;
    }

    #waiting-chat {
        height: 500px;
        width: auto;
    }

    #message-box {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }

    #chat {
        height: 90%;
        width: auto;
    }

    #user-list-container {
        height: 500px;
        width: auto;
    }
</style>

<div class="container-fluid">
    {{#if isGameRoom}}
    <div class="row p-4">
        <svg id="svg-wrapper" class="card col-md-9 bg-light">
            <g id="board"></g>
            <g id="carrier"></g>
            <g id="battleship"></g>
            <g id="destroyer"></g>
            <g id="submarine"></g>
            <g id="boat"></g>
        </svg>

        <div class="col-md-3 p-4 bg-light">
            <button id="rotate-btn" class="btn btn-outline-primary btn-large btn-block">Rotate</button>
            <button id="leave-btn" class="btn btn-outline-danger btn-large btn-block">Leave</button>
            <p id="selected-piece">No currently selected piece</p>
        </div>
    </div>
    {{/if}}

    <div class="row p-4">
        <div id="waiting-chat" class="card col-md-9 p-4 bg-light">
            <div id="chat" class="overflow-auto"></div>

            <div id="message-box" class="input-group">
                <input id="message" type="text" class="form-control" placeholder="Enter message to send">
                <div class="input-group-append">
                    <button id="send" class="btn btn-primary" type="button"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>

        {{#if isGameRoom}}
        <div id="user-list-container" class="col-md-3 p-4 bg-light overflow-auto">
            <h6>Players: <span id="user-count" class="badge badge-primary">0</span></h6>
            <ul id="user-list" class="list-group"></ul>
        </div>
        {{else}}
        <div id="user-list-container" class="col-md-3 p-4 bg-light overflow-auto">
            <h6>Available Users: <span id="user-count" class="badge badge-primary">0</span></h6>
            <ul id="user-list" class="list-group"></ul>
        </div>
        {{/if}}
    </div>
</div>

<div id="alert-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="alert-modal-title" class="modal-title">Alert</h5>
            </div>
            <div id="alert-modal-body" class="modal-body"></div>
            <div class="modal-footer">
                <button id="alert-modal-accept" type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="invite-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="invite-modal-title" class="modal-title">Challenge Invitation</h5>
            </div>
            <div id="invite-modal-body" class="modal-body"></div>
            <div class="modal-footer">
                <button id="invite-modal-decline" type="button" class="btn btn-outline-primary"
                    data-dismiss="modal">Decline
                </button>
                <button id="invite-modal-accept" type="button" class="btn btn-primary">Accept</button>
            </div>
        </div>
    </div>
</div>

<div id="redirect-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="redirect-modal-title" class="modal-title">Redirect</h5>
            </div>
            <div id="redirect-modal-body" class="modal-body"></div>
            <div class="modal-footer">
                <button id="redirect-modal-accept" type="button" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>