<style>
    .request-btn {
        float: right;
    }

    #waiting-chat {
        height: 500px;
        width: auto;
    }

    #message-box {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }

    #chat {
        height: 90%;
        width: auto;
    }

    #user-list-container {
        height: 500px;
        width: auto;
    }
</style>

<div class="container-fluid">
    <div class="row p-4">
        <div id="waiting-chat" class="card col-md-9 p-4 bg-light">
            <div id="chat" class="overflow-auto"></div>

            <div id="message-box" class="input-group">
                <input id="message" type="text" class="form-control" placeholder="Enter message to send">
                <div class="input-group-append">
                    <button id="send" class="btn btn-primary" type="button"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>

        <div id="user-list-container" class="col-md-3 p-4 bg-light overflow-auto">
            <h6>Available Users: <span id="user-count" class="badge badge-primary">0</span></h6>
            <ul id="user-list" class="list-group"></ul>
        </div>
    </div>
</div>


<script>
    const MESSAGE_TYPE_CHAT = "CHAT";
    const MESSAGE_TYPE_REQUEST = "REQUEST";
    const MESSAGE_TYPE_SYSTEM = "SYSTEM";
    const MESSAGE_TYPE_ACCEPT = "ACCEPT";
    const MESSAGE_TYPE_DECLINE = "DECLINE";

    const sendBtn = document.querySelector("#send");
    const messageInput = document.querySelector("#message");
    const chat = document.querySelector("#chat");
    const userList = document.querySelector("#user-list");
    const userCount = document.querySelector("#user-count");

    // Create websocket connection
    const websocket = new WebSocket(`ws://${location.hostname}:${location.port}/waiting-room`);
    websocket.onmessage = (msg) => updateChat(msg);
    websocket.onclose = () => {
        alert("Websocket closed!");
        window.location.replace("/");
    }
    websocket.onerror = (e) => {
        alert("Websocket error!");
        console.error(e);
    }

    // Prompt user if they wish to play with sender
    function processInvitationRequest(sender, message) {
        const hasAccepted = confirm(message);

        if (hasAccepted) {
            alert("Accepted invitation!");

            websocket.send(JSON.stringify({
                type: MESSAGE_TYPE_ACCEPT,
                message: sender
            }));
        } else {
            alert("Declined invitation!");

            websocket.send(JSON.stringify({
                type: MESSAGE_TYPE_DECLINE,
                message: sender
            }));
        }
    }

    // Send a message, clear input
    function sendMessage(message, type) {
        let data = {};

        if (message) {
            data.type = type;
            data.message = message;

            websocket.send(JSON.stringify(data));
            messageInput.value = "";
        }
    }

    // Updates the chat all existing messages
    function updateChat(message) {
        const data = JSON.parse(message.data);

        // Check if the message received is an invitation request, prompt user to accept
        if (data.type === MESSAGE_TYPE_REQUEST) {
            processInvitationRequest(data.sender, data.message);
            return;
        }

        // Append message to chat ui
        const messageElement = document.createElement("p");
        messageElement.innerHTML = data.message;

        if (data.type === MESSAGE_TYPE_SYSTEM) {
            messageElement.style.color = "#343a40";
            messageElement.style.fontWeight = "bold";
        } else {
            messageElement.style.color = data.color;
        }

        chat.appendChild(messageElement);
        chat.scrollTop = chat.scrollHeight;

        // Append current users to user list ui
        userList.innerHTML = "";
        data.users = data.users.filter(user => user != getCookie("username"));
        userCount.innerHTML = data.users.length;

        for (const user of data.users) {
            const listElement = document.createElement("li");
            listElement.innerHTML = user;
            listElement.className = "list-group-item";

            const requestBtnElement = document.createElement("button");
            requestBtnElement.type = "button";
            requestBtnElement.className = "btn btn-outline-primary btn-sm request-btn";
            requestBtnElement.textContent = "Request";
            requestBtnElement.dataset.targetUser = user;
            requestBtnElement.addEventListener("click", (e) => {
                let targetUser = e.target.dataset.targetUser;
                sendMessage(targetUser, MESSAGE_TYPE_REQUEST);
            });

            listElement.appendChild(requestBtnElement);
            userList.append(listElement);
        }
    }

    // Event listeners
    sendBtn.addEventListener("click", () => {
        sendMessage(messageInput.value, MESSAGE_TYPE_CHAT);
    });

    messageInput.addEventListener("keypress", (e) => {
        if (e.keyCode === 13) {
            sendMessage(messageInput.value, MESSAGE_TYPE_CHAT);
        }
    });
</script>