<style>
    #waiting-chat {
        height: 500px;
        width: auto;
    }

    #message-box {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }
</style>

<div id="waiting-chat" class="card container-fluid m-3 p-3 bg-light">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt magni modi non nesciunt atque eos cupiditate molestias
    iusto culpa deserunt amet repellendus, facilis quod labore? Fuga in voluptatibus reprehenderit maiores!
    <div id="message-box" class="input-group">
        <input type="text" class="form-control" placeholder="Enter message to send">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i class="far fa-paper-plane"></i></button>
        </div>
    </div>
</div>