<style>
    .request-btn {
        float: right;
    }

    #waiting-chat {
        height: 500px;
        width: auto;
    }

    #message-box {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }

    #chat {
        height: 90%;
        width: auto;
    }

    #user-list-container {
        height: 500px;
        width: auto;
    }
</style>

<div class="container-fluid">
    <div class="row p-4">
        <div id="waiting-chat" class="card col-md-9 p-4 bg-light">
            <div id="chat" class="overflow-auto"></div>

            <div id="message-box" class="input-group">
                <input id="message" type="text" class="form-control" placeholder="Enter message to send">
                <div class="input-group-append">
                    <button id="send" class="btn btn-primary" type="button"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>

        <div id="user-list-container" class="col-md-3 p-4 bg-light overflow-auto">
            <h6>Available Users: <span id="user-count" class="badge badge-primary">0</span></h6>
            <ul id="user-list" class="list-group"></ul>
        </div>
    </div>
</div>