<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship</title>
</head>
<body>
    {{#if authenticated}}
        <h1>Hello there</h1>
    {{else}}
        <h1>Please login!</h1>
    {{/if}}
</body>
</html>